# 设置时区
TZ=Asia/Shanghai

# 设置网络模式
NETWORKS_DRIVER=bridge

# PATHS ##########################################
# 宿主机上 Mysql/Reids 数据存放的目录路径
DATA_PATH_HOST=./storage

# nginx, 此端口应该与 nginx/host.conf 中保持一致
# 除了 OPEN_PORT 其它的 PORT 如果不需要外部连接都可以设置为0
OPEN_PORT=8071

# postgres
# https://hub.docker.com/_/postgres
# 原 5454 端口被占用, 在 pgadmin 中连接时，使用的连接信息为 postgres:5454
POSTGRES_PORT=0
# 以下配置信息与 postgres/Dockerfile 配置相同
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=admin

# mysql 5455
MYSQL_HOST=mysql
MYSQL_PORT=0
MYSQL_ROOT_PASSWORD=root123
MYSQL_PASSWORD=123456
MYSQL_USER=admin
MYSQL_DATABASE=phalcon

# phpmyadmin 端口 5456
PHPMYADMIN_PORT=0

# REDIS ##########################################
# Redis 服务映射宿主机端口号，可在宿主机 127.0.0.1:5457 访问
REDIS_PORT=0
# redis 连接密码
REDIS_PASSWORD=12

# memcached 服务端口 5458
MEMCACHED_PORT=0

# 当前 PHP 应用名称，影响 src/config 目录下加载的配置文件，与 docker-compose 无关
# 推荐只在线上时设置
APP_PROJECT=